.selectpicker {
    border: 0;
    color: rgba(4, 4, 4, 0.74);
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 2px 2px 60px;
    width: 100%;
    -webkit-appearance: none;
    height: 35px;
    box-shadow: 1px 1px 9px #fffdfd;
    background: rgb(200,200,200) no-repeat scroll 319px center;
}
.selectpickerdisabled{
    font-size: 18px;
    font-weight: 200;
}

.pos .actionpad .button.set-customer {
    padding-left: 60px;
    padding-right: 5px;
}
.pos .actionpad .button.set-customer.decentered {
    padding-left: 60px;
    padding-right: 5px;
}
#livraison{
    padding-left: 60px;
    padding-right: 5px;
}
.pos .actionpad .button.pay{
    height: 108px;
}
.pos .pos-content .actionpad .button.pay .pay-circle {
    display: block;
    font-size: 32px;
    line-height: 54px;
    padding-top: 6px;
    background: rgb(86, 86, 86);
    color: white;
    width: 60px;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 10px;
}
.pos .actionpad .button.pay .pay-circle .fa {
    position: relative;
    top: -1px;
    left: 3px;
}
.pos .pos-content .subwindow-container-fix .actionpad .button.pay {
    height: 108px;
}
.background_livraison{
    background-color: #f47121;
}
.moto {
    width: 55px;
    position: absolute;
    left: 4px;
    top: 12px;
}
.sac {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 6px;
}